@charset "UTF-8";

/*
    em HMTl é ID = em CSS é # (so pod um elemento)
    em HTML é class = em CSS é .(pod varios elementos )
    */
body{
    background-color: rgb(9, 204, 123);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(15, 39, 11);
}
h1#principal{
    text-align: center;
    background-color:  rgb(15, 39, 11);
    color: white;
    
}
h2{
    color: rgb(36, 56, 49);
}
.basico{
    color: #193b12;
}
.intermediario{
    color: #f0e007fd;
}
.avancado{
     color: #db3d28;
}
.destaque{
    background-color: rgba(167, 167, 46, 0.295);
}